body{

}
h1{
  color: green;
}
.cell{
  height: 30px;
  width: 30px;
  border: solid black 2px;
  padding: 0;
  background-color: yellow;
  cursor: pointer;
}
.cell button{
  height: 100%;
  width: 100%;
  background-color: yellow;
  border-style: none;

  margin: 0;
  padding: 0;
}
